h1 {
  text-align: center;
  color: #96d0ec;
  text-shadow:
  0 0 2px black,
  0 0 5px greenyellow,
  0 0 10px greenyellow,
  0 0 20px greenyellow;
  font-family: "get_schwifty";
  font-size: 40px;
  margin: 70px;
}


/* Pages personnages */

.perso {
  margin: 50px 60px 50px 60px;
}

/*Card avec les personnages dessus*/
.card {
  width: 200px;
  padding: 10px;
  box-shadow: 7px 7px 20px greenyellow;
  border-radius: 5px; 
  margin: 25px;
  background-color: rgba(255, 255, 255);
  cursor: pointer;
  display: inline-block;
}

/*Image du personnage dans la card*/
.card_img{
  width: 100%;
  border-radius: 5px;
}

.h2_card {
  margin: 10px 70px;
  font-family: permanantmarker;
  color : #96d0ec;
  text-shadow: 0 0 3px black;
}
  
.card_p {
  font-family: roboto-regular;
  text-align: center;
}


@media screen and (max-width: 600px) {
  .card {
    width: 200px ;
    margin: 20px 0;
  }

  h1{
    font-size: 30px;
    margin: 50px auto;
  }
}




/*PAGE CONTACTS*/

.coordonnee{
  margin: 30px 60px 0px 150px;
  width: 30%;
  height: auto;
  display: inline-block;
}
  
.info{
  width: 100%;
  height: auto;
  padding: 40px;
  color: white;
  text-align: center;
  font-size: 20px;
  font-family: sans-serif;

}
  
.info_img{
  width: 10%;
  margin-left: auto;
  margin-right: auto;
  display: block;
}

.info_txt{
  font-size: 17px;
}
  
.com_txt{
  color: #91f745;
  font-size: 20px;
  font-family: sans-serif;
}
  
.titre_contact{
  color: white;
}
  
  
.formu {
  margin: 30px;
  display: block;
  font-size: 15px;
  padding: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px  rgba(0, 0, 0, 0.1)inset;
  outline: none;
  width: 90%;
  height: auto;
}

.submit{
  background-color: #B6DDFC;
  width: 70%;
  height: auto;
  cursor: pointer;
  transition: .5s ease;
}

.submit:hover{
  background-color:#79c3ff ;
}


.com{
  width: 120%;
  height: auto;    
}
  
.commentaire{
  display: inline-block;
  margin: 0 50px 0 150px;
}

@media screen and (max-width: 600px) {
  .page_contact {
    background-size: 100%;
    margin: 0;
  }

  .info{
    width: 190px;
    margin: auto;
  }

  .info_img{
    width: 40px;
  }

  .coordonnee{
    width: 100%;
    margin: auto;
  }

  .commentaire{
    width: 100%;
    margin: auto;
  }

  .com_txt{
    font-size: 17px;
    width: 100%;
    margin: 20px auto 30px auto;
    text-align: center;

  }

  .formu{
    width: 60%;
    margin: 10px auto 10px;
  }

  .com{
    width: 80%;
  }

  .submit{
    width: 50%;
    margin: auto;
  }
}




/*PAGE GALERIE*/

.galerie{
  margin: 0 10% 80px;
}


.gal {
  width: auto;
  background-color: rgb(0, 0, 0);
  cursor: pointer;
  display: inline-block;
}
    
.gal_img{
  width: auto;
  height: 300px;
}

.ligne{
  width: 90%;
  margin: auto;
}

/*Avoir un message sur les images en hover*/
.overlay-image {
  position: relative;
  width: auto;
  height: 300px;
}

.overlay-image .text {
  color: #fff;
  font-size: 30px;
  line-height: 1.5em;
  text-shadow: 2px 2px 2px #000;
  position: absolute;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100%;
}

.overlay-image .hover{
  position: absolute;
  top: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
}

.overlay-image .gal_img{
  opacity: 1;
  transition: .5s ease;
}

.overlay-image:hover .hover{
  opacity: 1;
}

.overlay-image:hover .gal_img{
  opacity: 0.5;
}

@media screen and (max-width: 600px) {
  
  .galerie{
    width: 100%;
  }

  .gal_img{
    width: 100%;
    height: auto;
  }

  .gal{
    width: 70%;
    height: auto;
    margin: auto;
  }

  .overlay-image .text{
    font-size: 0;
  }

  .overlay-image:hover .gal_img{
    opacity: 1;
  }

}







  