@font-face{
  font-family: "roboto-regular";
  src: url(../font/roboto-regular.ttf) format("truetype");
}

@font-face{
  font-family: "permanantmarker";
  src: url(../font/permanentmarker.ttf) format("truetype");
}

:root {
  --text-color: #96d0ec;
  --text-shadow: 0 0 3px #7fb248, 0 0 3px #7fb248, 0 0 3px #7fb248, 0 0 3px #7fb248;
}

@font-face {
  font-family: "get_schwifty";
  src: url(../font/get_schwifty.ttf) format("truetype");
}


body {
  background-color: hsl(267deg 71% 10%);
  margin: 0;
}

