@font-face {
  font-family: "get_schwifty";
  src: url(../font/get_schwifty.ttf) format("truetype");
}

@font-face{
  font-family: "roboto-regular";
  src: url(../font/roboto-regular.ttf) format("truetype");
}

@font-face{
  font-family: "permanantmarker";
  src: url(../font/permanentmarker.ttf) format("truetype");
}


body {
  background-color: black;
  
}

/* Navbar*/
header {
  text-align: center;
}

.logo {
  width: 200px;
  height: auto;
  margin-bottom: 10px;
}

nav {
  border-bottom: 2px white solid;
  padding-bottom: 5px;
}

ul {
  display: flex;
  justify-content: space-between;
}

a {
  color: white;
  display: inline-block;
  text-decoration: none;
  font-family: "get_schwifty";
}

nav a:hover {
  color: #96d0ec;
}

/**/

.home {
  display: flex;
  align-items: center;
}

.rick {
  width: 300px;
  height: auto;
  float: left;
}

.presentation {
  color: white;
  text-align: center;
  font-size: 18px;
  margin-right: 5px;
}

/*footer*/
footer {
  text-align: center;
  height: auto;
  border-top: 2px white solid;
}

.sites i {
  margin-top: 60px;
  margin-bottom: 50px;
  margin-right: 20px;
  margin-left: 20px;
}

.sites a {
  color: white;
  font-size: 2em;
}

.sites a:hover {
  color: #96d0ec;
}


/* Pages personnages */

.titreperso {
  text-align: center;
  color: #96d0ec;
  text-shadow:
  0 0 2px black,
  0 0 5px greenyellow,
  0 0 10px greenyellow,
  0 0 20px greenyellow;
  font-family: "get_schwifty";
  font-size: 40px;
}

.perso {
  margin: 50px 60px 50px 60px;
}

.card {
  width: 200px;
  padding: 10px;
  box-shadow: 7px 7px 20px greenyellow;
  border-radius: 5px; 
  margin: 25px;
  background-color: rgba(255, 255, 255);
  cursor: pointer;
  display: inline-block;
}

.card_img{
  width: 100%;
  border-radius: 5px;
}

.h2_card {
  margin: 10px 70px;
  font-family: permanantmarker;
  color : #96d0ec;
  text-shadow: 0 0 3px black;
}

.card_p {
  font-family: roboto-regular;
  text-align: center;
}

